{include file="public/top" /}

<section id="hero" class="text-white tm-font-big tm-parallax">


  <div class="text-center tm-hero-text-container col-lg-12">
    <div class="tm-hero-text-container-inner">
      <h2 class="tm-hero-title">提升管理，防患于未然</h2>
      <p class="tm-hero-subtitle">
        一站一表，每日更新上报
        <br />卓越运维
      </p>
    </div>
  </div>
  <footer class="text-center small tm-footer">
    <div style="width:300px;margin:0 auto; padding:20px 0;">
      <p class="mb-0">
        Copyright &copy; 2020 GMCC - Design: Huangjinghe 粤ICP备20008070号
      </p>
      <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44060602001528" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">粤公网安备 44060602001528号</p></a>
    </div>
  </footer>

</section>





<section class="tm-section-pad-top" id="introduction">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <div class="tm-intro-text-container">
          <h2 class="tm-text-primary mb-4 tm-section-title">佛山无线自有机房基站隐患核查进度通报（20200116）</h2>
          <p class="mb-4 tm-intro-text">
            一、总体进展
          </p>
          <p class="mb-2 tm-intro-text">
            计划核查佛山自有无线机房总数1546个，截至1月16日外告情况已核查889个，进度为57.5%；
            隐患排查387个，排查进度25.03%；
            <B style="color: red">其中浙通服、长实未上报进度，请尽快安排跟进。</B>
          <!--<div class="tm-next">
            <a href="#work" class="tm-intro-text tm-btn-primary">Read More</a>
          </div>-->
            <table class="table table-responsive">
              <tr>
                <th>序号</th>
                <th>区域</th>
                <th>自有站点数</th>
                <th>隐患站点数</th>
              </tr>
              <tr>
                <td>1</td>
                <td>禅城</td>
                <td>566</td>
                <td>355</td>
              </tr>
              <tr>
                <td>2</td>
                <td>南海</td>
                <td>566</td>
                <td>355</td>
              </tr>
              <tr>
                <td>3</td>
                <td>顺德</td>
                <td>566</td>
                <td>355</td>
              </tr>
              <tr>
                <td>4</td>
                <td>三水</td>
                <td>566</td>
                <td>355</td>
              </tr>
              <tr>
                <td>5</td>
                <td>高明</td>
                <td>566</td>
                <td>355</td>
              </tr>
            </table>


        </div><!--tm-intro-text-container-->
        <div class="tm-intro-text-container">
          <p class="mb-4 tm-intro-text">
            二、核查情况          </p>
          <p class="mb-2 tm-intro-text">
            已核查有476个机房有外告系统，其中437个经测试可正常上报告警到工单系统。

            <!--<div class="tm-next">
              <a href="#work" class="tm-intro-text tm-btn-primary">Read More</a>
            </div>-->




        </div><!--tm-intro-text-container-->
      </div><!--col-->
    </div><!--row-->
  </div><!--container-->

</section>



{include file="public/bottom" /}