{include file="public/top" /}
    <div class="row">
        <div class="col-12 col-md-12 tm-section-pad-top ">
            <form class="form-group" onsubmit="return confirm('确认？')" action="{:url('index/index/posting')}" method="post" onkeydown='if(event.keyCode==13) return false;'>
                <table class="table table-bordered text-left">

                    {foreach postbase as $vo}
                    <tr>
                        <td class="w-50">
                            <b>自有站点序号：</b>{$vo.tp_id}
                            <input type="hidden" name="tp_id" value="{$vo.tp_id}">
                        </td>
                        <td>
                            <b>站点名称：</b>{$vo.tp_basename}
                            <input type="hidden" name="tp_basename" value="{$vo.tp_basename}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>维护单位：</b>{$vo.tp_company}</td>
                        <td>
                            <b>结算类型：</b>{$vo.tp_basetype}
                        </td>
                    </tr>
                </table>
                <br>
                <!--外告可用性-->
                <div class="panel-group" id="alarm">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class=" w-100 panel-title border rounded-lg fa fa-barcode">
                                <a class="btn">外告可用性</a>
                                <a class="btn btn-default float-right" aria-label="Left Align" data-toggle="collapse" data-parent="#alarm"
                                   href="#waigao">
                                    <span class="fa fa-angle-double-up" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                        <div id="waigao" class="panel-collapse collapse in show">
                            <div class="panel-body">
                                <table class="table table-bordered">
                                    <tr><th class="w-50">是否有外告系统</th>
                                        <td>
                                            <select class="custom-select" name="tp_alarmexist" required>
                                                <option>{$vo.tp_alarmexist}</option>
                                                <option>否</option>
                                                <option>是</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr><th>外告是否正常上报</th>
                                        <td>
                                            <select class="custom-select" name="tp_alarmworking" required>
                                                <option>{$vo.tp_alarmworking}</option>
                                                <option>否</option>
                                                <option>是</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr><th>外告接入设备逻辑站名</th>
                                        <td>
                                            <input type="text" class="form-control" name="tp_alarmbase" placeholder="请输入准确的EnodeB或BTS" value="{$vo.tp_alarmbase}">
                                        </td>
                                    </tr>

                                    <tr><th>最近一次外告上报日期</th>
                                        <td ><input id="demo" name="tp_alarm_send_date" type="text" class="form-control" value="{$vo.tp_alarm_send_date}"></td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!--空调可用性-->
                <div class="panel-group" id="aircon">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="w-100 panel-title border rounded-lg fa fa-barcode">
                                <a class="btn">空调可用性</a>
                                <a class="btn btn-default float-right" aria-label="Left Align" data-toggle="collapse" data-parent="#kongtiao"
                                   href="#kongtiao">
                                    <span class="fa fa-angle-double-down" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                        <div id="kongtiao" class="panel-collapse collapse in show">
                            <div class="panel-body">
                                <table class="table table-bordered">
                                    <tr><th class="w-50">空调是否正常</th>
                                        <td>
                                            <select class="custom-select" name="tp_aircon" required>
                                                <option>{$vo.tp_aircon }</option>
                                                <option>否</option>
                                                <option>是</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr><th>空调是否超6年</th>
                                        <td>
                                            <select class="custom-select" name="aircon_limit" required>
                                                <option>{$vo.aircon_limit }</option>
                                                <option>否</option>
                                                <option>是</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <!--动力可靠性-->
                <div class="panel-group" id="dongli">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="w-100 panel-title border rounded-lg fa fa-barcode">
                                <a class="btn">动力可靠性</a>
                                <a class="btn btn-default float-right" aria-label="Left Align" data-toggle="collapse" data-parent="#dongli"
                                   href="#eletric">
                                    <span class="fa fa-angle-double-up" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                        <div id="eletric" class="panel-collapse collapse in show">
                            <div class="panel-body">
                                <table class="table table-bordered">
                                    <tr><th class="w-50">外电是否正常</th>
                                        <td>
                                            <select class="custom-select" name="tp_eletric" required>
                                                <option>{$vo.tp_eletric}</option>
                                                <option>否</option>
                                                <option>是</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr><th>是否可以发电</th>
                                        <td>
                                            <select class="custom-select" name="power_generation" required>
                                                <option>{$vo.power_generation}</option>
                                                <option>否</option>
                                                <option>是</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr><th>电源负载是否超80%</th>
                                        <td>
                                            <select class="custom-select" name="power_module" required>
                                                <option>{$vo.power_module}</option>
                                                <option>否</option>
                                                <option>是</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr><th>电池是否可续航两小时以上</th>
                                        <td>
                                            <select class="custom-select" name="tp_xuhang" required>
                                                <option>{$vo.tp_xuhang}</option>
                                                <option>否</option>
                                                <option>是</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr><th>电池是否超8年</th>
                                        <td>
                                            <select class="custom-select" name="xuhang_limit" required>
                                                <option>{$vo.xuhang_limit}</option>
                                                <option>否</option>
                                                <option>是</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="panel-group" id="chuanshu">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="w-100 panel-title border  fa fa-barcode">
                                <a class="btn">传输配套合规性</a>
                                <a class="btn btn-default float-right" aria-label="Left Align" data-toggle="collapse" data-parent="#chuanshu"
                                   href="#tp_olt">
                                    <span class="fa fa-angle-double-up" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                        <div id="tp_olt" class="panel-collapse collapse in show">
                            <div class="panel-body">
                                <table class="table table-bordered">
                                    <tr><th>是否OLT共址</th>
                                        <td>
                                            <select class="custom-select" name="tp_olt" required>
                                                <option>{$vo.tp_olt }</option>
                                                <option>否</option>
                                                <option>是</option>

                                            </select>
                                        </td>

                                    </tr>
                                    <tr><th class="w-50">传输设备(OLT/PTN/SDH)是否接24V电源柜</th>
                                        <td>
                                            <select class="custom-select" name="tp_chuanshu" required>
                                                <option></option>
                                                <option>否</option>
                                                <option>是</option>
                                            </select>
                                        </td>

                                    </tr>
                                    <tr><th>是否具备二次下电</th>
                                        <td>
                                            <select class="custom-select" name="tp_chuanshu" required>
                                                <option>{$vo.tp_xiadian }</option>
                                                <option>否</option>
                                                <option>是</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>


                <table class="table table-bordered">

                    <tr>
                        <td><b>问题具体描述:</b>
                            <input type="text" class="form-control" value="{$vo.tp_miaoshu }" name="tp_miaoshu">
                        </td>
                        <td ><b>专项标签:</b>
                            <input type="text" class="form-control" value="{$vo.tp_beizhu }" name="tp_beizhu" readonly>
                        </td>
                    </tr>

                    <tr>
                        <td><b>隐患是否已解决</b>
                            <select class="custom-select" name="end" required>
                                <option></option>
                                <option>未解决</option>
                                <option>已解决</option>

                            </select>
                        </td>

                    </tr>

                    {/foreach}
                </table>

                <div style="text-align: center">
                    <button type="submit" class="btn btn-primary">提交上报</button>
                    <button type="reset" class="btn btn-light" onclick="javascript:history.back(-1)">返回</button>

                </div>

            </form>



        </div>

    </div>



<script type="text/javascript">

       $("#demo").datepicker({
           todayHighlight: true,
           startDate: '-1y',
           formatter:'yy-m-d',
           language:'zh-CN',
           minView: 1,
       });



</script>


{include file="public/bottom" /}