<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>佛山移动基站健康管家-用户登陆</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__STATIC__/fontawesome-5.5/css/all.min.css" />
    <link rel="stylesheet" href="__STATIC__/slick/slick.css">
    <link rel="stylesheet" href="__STATIC__/slick/slick-theme.css">
    <link rel="stylesheet" href="__STATIC__/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__STATIC__/css/templatemo-style.css" />
    <script src="__STATIC__/js/jquery-1.9.1.min.js"></script>
    <script src="__STATIC__/slick/slick.min.js"></script>
    <script src="__STATIC__/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="__STATIC__/js/jquery.singlePageNav.min.js"></script>
    <script src="__STATIC__/js/bootstrap.min.js"></script>

</head>
<body style="background-color: white;background-repeat: no-repeat;
  height: 100vh;
  min-height: 375px;
  position: relative;">

    <div class="container" >
        <div class="row ">

            <div class="col-8 d-none d-sm-block">
                <img class="img-fluid mt-3" src="__STATIC__/img/the-town-bg-01.jpg">
            </div>

            <div class="col-sm-12 col-lg-4 mt-3" >
                <h3>欢迎登陆</h3>
                <form role="form" class="form-inline mt-5" action="{:url('index/login/logincheck')}" method="post">

                    <div class="form-group">
                        <span class="col-4">用户名：</span>
                        <input type="text" class="form-control" placeholder="请输入用户名" name="username">
                    </div>
                    <div class="form-group">
                        <span class="col-4">密码：</span>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <div class="form-group">
                        <span class="col-4">验证码：</span>
                        <input type="text" class="form-control" name="code">
                    </div>
                    <div class="form-group col-12">{:captcha_img()}</div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-secondary">登陆</button>
                        <button type="reset" class="btn btn-secondary">重置</button>
                    </div>
                    <div class="form-group col-12">
                        <a class="a" href="#">忘记密码</a>
                        <a style="margin-left: 20px" class="a" href="{:url('index/login/regist')}">用户注册</a>
                    </div>


                </form>
            </div>

        </div>
    </div>

</body>
</html>